<div class="navbar-fixed" ng-controller="usersController as UC">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#/cards/index" class="breadcrumb">View Cards</a>
                    <a href="#/cards/new" class="breadcrumb">New Card</a>
                    <a href="#/user/settings" class="breadcrumb">Settings</a>
                    <a href="#/" class="breadcrumb" ng-click=UC.logout()>Log Out</a>
                </div>
            </div>
        </nav>
    </div>

<div class="container" ng-controller="dashController as DC">
    <h1>Welcome {{DC.user.name}}</h1>
    <div class="UserSettings">
        <h6>Your languages: </h6>
        <div ng-repeat="language in DC.user.languages">
            <h5>{{language.name}}</h5>
        </div>
    </div>
    <h6>Your recent cards:</h6>

    <div class="showCards" ng-repeat="card in DC.ownCards | orderBy: '-createdAt' | limitTo:'4'">
        <div class="cardFront">
			  <h5>{{card.target_language}}</h5>
			  <img class="img-small" src="{{card.image_url}}" alt="{{card.image_url}}" />
			  <h5>{{card.target_word}}</h5>
			  <h5>{{card.translations[0]['0']}}</h5>
		  </div>
    </div>
    <h6>New Cards added:</h6>
    <div class="showCards" ng-repeat="card in DC.otherCards | orderBy: 'date'">
		 <div class="cardFront">
 			<h5>{{card.target_language}}</h5>
 			<img class="img-small" src="{{card.image_url}}" alt="{{card.image_url}}" />
 			<h5>{{card.target_word}}</h5>
 			<h5>{{card.translations[0]['0']}}</h5>
            <h5>{{card._creator.name}}</h5>
 		</div>
	</div>
    <h5><a href="#/cards/index">See more...</a>

    <div class="makeCard">
    <h5>Quick add a card:</h5>
        <select ng-model="DC.newCard.target_language">
            <option ng-repeat="lang in DC.user.languages track by $index" value={{lang.name}}>{{lang.name}}</option>
        </select>
        <p>Word: <input type="text" ng-model="DC.newCard.target_word"></p>
        <p>Translation: <input type="text" ng-model="DC.newCard.translations[0]"></p>
        <input class="waves-effect waves-light btn" type="submit" ng-click="DC.create()" value="Add">
    </div>
</div>
<div ng-controller="cardsController as CC">
    <h5>Your decks:</h5>
    <div ng-repeat="deck in CC.user.decks">
        <p><a href="#/deck/{{deck._id}}/index">{{deck.name}}</a></p>
    </div>
    <h6>Add a new deck:</h6>
    <p>Deck name: <input type="text" ng-model="CC.newDeck.name"></p>
    <p>Language: 
        <select ng-model="CC.newDeck.target_language">
            <option ng-repeat="lang in CC.user.languages track by $index" value={{lang.name}}>{{lang.name}}</option>
        </select>
    </p>
    <p><input type="submit" ng-click="CC.createDeck()" value="Add Deck"></p>
</div>

