<div class="navbar-fixed" ng-controller="usersController as UC">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">My Cards</a>
                    <a href="#/cards/new" class="breadcrumb">New Card</a>
                    <a href="#!" class="breadcrumb">Settings</a>
                    <a href="#/" class="breadcrumb" ng-click=UC.logout()>Log Out</a>
                </div>
            </div>
        </nav>
    </div>
<div class="container" ng-controller="dashController as DC">
{{DC}}

    <h1>Welcome {{DC.user.name}}</h1>
    <div class="UserSettings">
        <h6>Your languages: </h6>
        <div ng-repeat="language in DC.user.languages">
            <h5>{{language}}</h5>
        </div>
    </div>
    <h6>Your recent cards:</h6>

    <div class="showCards" ng-repeat="card in DC.ownCards | orderBy: 'date'">
        <div class="cardFront">
			  <h5>{{card.target_language}}</h5>
			  <br><br>
			  <h5>{{card.target_word}}</h5>
			  <h5>{{card.translations[0]}}</h5>
		  </div>
    </div>
    <h6>New Cards added:</h6>
    <div class="showCards" ng-repeat="card in DC.otherCards | orderBy: 'date'">
		 <div class="cardFront">
 			<h5>{{card.target_language}}</h5>
 			<br><br>
 			<h5>{{card.target_word}}</h5>
 			<h5>{{card.translations[0]}}</h5>
            <h5>{{card._creator.name}}</h5>
 		</div>
	</div>
    <div class="makeCard">
    <h5>Quick add a card:</h3>
        <!-- <select ng-model="DC.newCard.target_language" ng-options='language for language in DC.user.languages'></select> -->
        <p>Language:<input type="text" ng-model="DC.newCard.target_language"></p>
        <p>Word: <input type="text" ng-model="DC.newCard.target_word"></p>
        <p>Translation: <input type="text" ng-model="DC.newCard.translation"></p>
        <input class="waves-effect waves-light btn" type="submit" ng-click="DC.create()" value="Add">
    </div>
</div>
