<div class="container">
	<div class="navbar-fixed" ng-controller="usersController as UC">
		<nav>
			<div class="nav-wrapper">
				<div class="col s12">
					<a href="#/cards/index" class="breadcrumb">View Cards</a>
					<a href="#/cards/new" class="breadcrumb">New Card</a>
					<a href="#/user/settings" class="breadcrumb">Settings</a>
					<a href="#/" class="breadcrumb" ng-click=UC.logout()>Log Out</a>
				</div>
			</div>
		</nav>
	</div>

	<div class="viewer-main" ng-controller="oneDeckController as ODC">

		<div class="col-md-2 go-left">
			<button type="button" class="btn btn-default btn-lg" ng-click="ODC.moveBkwd()">
			   <span class="glyphicon glyphicon-chevron-left">
			   </span>
			</button>
		</div>

		<!-- {{ODC.deckCards[ODC.cardInDeck]}} -->
		<div class="col-md-6 main-deck" ng-click="ODC.flip()">
			<div class="card">
				<div ng-show="ODC.cardSide === false">
					<h2>
						{{ODC.deckCards[ODC.cardInDeck].target_word}}
					</h2>

				</div>
				<div ng-show="ODC.cardSide === true">
					<h2>
						{{ODC.deckCards[ODC.cardInDeck].translations[0]}}<br>
						{{ODC.deckCards[ODC.cardInDeck].translations[1]}}<br>
						{{ODC.deckCards[ODC.cardInDeck].translations[2]}}<br>
						<img src="{{ODC.deckCards[ODC.cardInDeck].image_url}}" alt="{{ODC.deckCards[ODC.cardInDeck].target_word}}" /><br>
						{{ODC.deckCards[ODC.cardInDeck].part_of_speech}}<br>
						{{ODC.deckCards[ODC.cardInDeck].part_of_speech}}<br>
					</h2>
				</div>
			</div>
		</div> <!-- main-deck -->

		<div class="col-md-2 go-right">
			<button type="button" class="btn btn-default btn-lg" ng-click="ODC.moveFwd()">
			   <span class="glyphicon glyphicon-chevron-right">
			   </span>
			</button>
		</div>



	</div><!-- viewer-main -->











</div> <!-- container -->
