<div class="newcardPage">
<div class="navbar-fixed" ng-controller="usersController as UC">
  <nav>
      <div id="nav-wrapper">
          <div class="col s12">
              <a href="#/cards/index" class="breadcrumb">View Cards</a>
              <a href="#/home" class="breadcrumb">Dashboard</a>
              <a href="#/user/settings" class="breadcrumb">Settings</a>
              <a href="#/" class="breadcrumb" ng-click=UC.logout()>Log Out</a>
          </div>
      </div>
  </nav>
</div>
<div class="container" ng-controller="cardsController as CC">

    <h1>Edit Card</h1>
<!-- form to make card -->
    <div style="width: 22%; display: inline-block; vertical-align: top;">
  <!-- Translate form -->
    <div class="dashCluster" style="width: 100%">
      <div class="form-group">
        <label for="word">Word</label>
        <h4>{{CC.theCard.target_word}}</h4>
      </div>
      <div class="form-group">
        <label for="language">Language</label>
        <h4>{{CC.theCard.target_language}}</h4>
      <div ng-repeat="err in creationErrors">
        {{err}}
      </div>
      <div class="form-group">
      <div class="form-group">
        <label>English Translation </label>
        <input class="form-control" type="text" ng-model="CC.theCard.translations[0]">
      </div>
      <div class="form-group">
        <label>Part of Speech</label>
        <select class="form-control" ng-model='CC.theCard.part_of_speech' ng-options="i as i for i in CC.pos">
        </select>
      </div>
      <div class="form-group">
        <label>Image</label>
        <input class="form-control" ng-model="CC.theCard.image_key">
      </div>
      <div class="form-group">
        <label>English Translation 2 (optional)</label> <input class="form-control" type="text" ng-model="CC.the.translations[1]"> 
      </div>
      <div class="form-group">
        <label>English Translation 3 (optional)</label> <input class="form-control" type="text" ng-model="CC.the.translations[2]">
      </div>
      <div class="form-group">
        <label>Example 1</label>
        <input class="form-control" type="text" ng-model="CC.the.contexts[0]">
      </div>
      <div class="form-group">
        <label>Example 2</label> 
        <input class="form-control" type="text" ng-model="CC.the.contexts[1]">
      </div>
      <div class="form-group">
        <label>Example 3</label>
        <input class="form-control" type="text" ng-model="CC.the.contexts[2]"></div>
      </div>
      <br><br>
      <div>
      <input class="btn btn-success form-control" type="submit" ng-click="CC.create_long()" value="Create">
      </div>
    </div>
  </div>
  </div>
  <!-- PixaBay Image Search -->
  <div style="display: inline-block; vertical-align: top; margin-left: 20px; width: 40%; padding-top: 15px;">
    <h4>Click on an image to add to card</h4>
    <p>
    <input type="text" ng-model="CC.theCard.target_word">
    <input type="submit" class="btn btn-sm btn-warning" value="Search Image" ng-click="CC.imgSearch()"></p>
  <!-- PixaBay imagesearch results -->
    <div class="showbox">
      <div class="img-display" ng-repeat="result in CC.searchResults track by $index" ng-model="that.theClicked" ng-click="CC.addImage($index)"><img class="img-small" src="{{result}}"></div>
    </div>
</div>
