
<img id="bg" src="/app/assets/img/lilypads.jpg">
<div class="navbar-fixed">
    <nav>
        <div id="nav-wrapper">
            <div class="col s12">
                <a href="#!" class="breadcrumb">Register</a>
                <a href="#!" class="breadcrumb">Features</a>
                <a href="#!" class="breadcrumb">About</a>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div ng-controller = "usersController as UC" style="text-align: center;">
            
            <h1 class="appTitle">SPROG</h1>
            <h3 class="appTitle">Language learning - Social - Playful</h3>
        <div class="login">
            <h3>Log in</h3>
            <label>User Name</label>
            <p><input type="text" class="form-control" ng-model = "UC.newUser.name"></p>
            <label>Password</label>
            <p><input type="password" class="form-control" placeholder="Don't enter password yet"></p>
            <input class="btn btn-success form-control" type="submit" value="Enter" ng-click="UC.login()">
        </div>
    </div>
</div>
 <!-- container -->
