<div class="navbar-fixed" ng-controller="usersController as UC">
 	<nav>
     	<div class="nav-wrapper">
          	<div class="col s12">
            	<a href="#/cards/index" class="breadcrumb">View Cards</a>
              	<a href="#/home" class="breadcrumb">Dashboard</a>
              	<a href="#/user/settings" class="breadcrumb">Settings</a>
              	<a href="#/" class="breadcrumb" ng-click=UC.logout()>Log Out</a>
          	</div>
      	</div>
  	</nav>
</div>
<div class="container" ng-controller="cardsController as CC">
	<h1>Create New Card</h1>
	<div style="width: 22%; display: inline-block; vertical-align: top;">
	<!-- Translate form -->
		<div class="dashCluster" style="width: 100%">
			<h4>Translate an English word</h4>
			<hr>
			<div class="form-group">
				<label for="word">Word</label>
				<input class="form-control" type="text" ng-model="CC.translateStr">
				{{CC.error}}
			</div>
			<div class="form-group">
				<label for="language">Language</label>
				<select class="form-control" ng-model="CC.newCard.target_language">
					<option ng-repeat="lang in CC.user.languages track by $index" value={{lang}}>
					{{lang.name}}
					</option>
				</select>
				<small class="text-muted">Powered by Google Translate</small>	
				<input type="submit" class="form-control btn btn-success" ng-click="CC.translate()" value="Translate">
				<div class="resultOfTranslation bigNBold" ng-bind="CC.googResponse">
					{{CC.googResponse}}
				</div>
			</div>
		</div>
<!-- Make Card form -->
		<div class="dashCluster" style="width: 100%">
			<h4>Add Word details</h4>
			<hr>
			<div ng-repeat="err in creationErrors">
				{{err}}
			</div>
			<div class="form-group">
				<label>Language</label>
				<select class="form-control" ng-model="CC.newCard.target_language">
					<option ng-repeat="lang in CC.user.languages track by $index" value={{lang}}>
					{{lang.name}}
					</option>
				</select>
			</div>
			<div class="form-group">
				<label>Word</label>
				<input class="form-control" type="text" ng-model="CC.googResponse">
			</div>
			
			<div class="form-group">
				<label>English 1 </label>
				<input class="form-control" type="text" ng-model="CC.translateStr">
			</div>
			<div class="form-group">
				<label>Part of Speech</label>
				<select class="form-control" ng-model='CC.newCard.part_of_speech' ng-options="i as i for i in CC.pos">
				</select>
			</div>
			<div class="form-group">
				<label>Image</label>
				<input class="form-control" type="url" ng-model="CC.theImage">
			</div>
			<button class="btn btn-primary" ng-click="part1=!part1" type="button" id="drop1">
				Advanced options
				<span class="caret"></span>
			</button>
			<div class="dropdownWrap" data-slide-toggle="part1">
			<div class="form-group">
				<label>English 2 (optional)</label> <input class="form-control" type="text" ng-model="CC.newCard.translations[1]"> 
			</div>
			<div class="form-group">
				<label>English 3 (optional)</label> <input class="form-control" type="text" ng-model="CC.newCard.translations[2]">
			</div>
			<div class="form-group">
				<label>Example 1</label>
				<input class="form-control" type="text" ng-model="CC.newCard.contexts[0]">
			</div>
			<div class="form-group">
				<label>Example 2</label> 
				<input class="form-control" type="text" ng-model="CC.newCard.contexts[1]">
			</div>
			<div class="form-group">
				<label>Example 3</label>
				<input class="form-control" type="text" ng-model="CC.newCard.contexts[2]"></div>
			</div>
			<br><br>
			<div>
			<input class="btn btn-success form-control" type="submit" ng-click="CC.create_long()" value="Create">
			</div>
		</div>
	</div>
	<!-- PixaBay Image Search -->
	<div style="display: inline-block; vertical-align: top; margin-left: 20px; width: 40%; padding-top: 15px;">
		<h4>Click on an image to add to card</h4>
		<p>
		<input type="text" ng-model="CC.googResponse">
		<input type="submit" class="btn btn-sm btn-warning" value="Search Image" ng-click="CC.imgSearch()"></p>
	<!-- PixaBay imagesearch results -->
		<div class="showbox">
			<div class="img-display" ng-repeat="result in CC.searchResults track by $index" ng-model="that.theClicked" ng-click="CC.addImage($index)"><img class="img-small" src="{{result}}"></div>
		</div>
	</div>
</div> <!-- container -->
