<div class="newcardPage">
<div class="navbar-fixed" ng-controller="usersController as UC">
  <nav>
      <div class="nav-wrapper">
          <div class="col s12">
              <a href="#/cards/index" class="breadcrumb">View Cards</a>
              <a href="#/home" class="breadcrumb">Dashboard</a>
              <a href="#/user/settings" class="breadcrumb">Settings</a>
              <a href="#/" class="breadcrumb" ng-click=UC.logout()>Log Out</a>
          </div>
      </div>
  </nav>
</div>
<div class="container" ng-controller="cardsController as CC">

	<h1>Create New Card</h1>
<!-- google scripts	 -->
<!-- 	<script src='//www.google.com/jsapi' type='text/javascript'></script>
	<script type='text/javascript'>
		google.load('search', '1', {language: 'en', style: google.loader.themes.V2_DEFAULT});
		google.setOnLoadCallback(function() {
		var customSearchOptions = {};
		var orderByOptions = {};
		orderByOptions['keys'] = [
			{label: 'Relevance', key: ''} ,
		 {label: 'Date', key: 'date'}
	 ];
		customSearchOptions['enableOrderBy'] = true;
		customSearchOptions['orderByOptions'] = orderByOptions;
		customSearchOptions['limitTo'] = 6;
		// customSearchOptions['enableImageSearch'] = true;
		var imageSearchOptions = {};
		imageSearchOptions['layout'] = 'google.search.ImageSearch.LAYOUT_COLUMN';
		customSearchOptions['enableImageSearch'] = true;
		customSearchOptions['defaultToImageSearch'] = true;
		customSearchOptions['imageSearchResultSetSize'] = 'small';
		customSearchOptions['imageSearchLayout'] = 'column';

		var customSearchControl =   new google.search.CustomSearchControl('016395638918268128046:viw6pearh8i', customSearchOptions);
		customSearchControl.setResultSetSize(google.search.Search.SMALL_RESULTSET);
		var options = new google.search.DrawOptions();
		options.setAutoComplete(true);
		customSearchControl.draw('cse', options);
		}, true);
	</script> -->
<!-- roll our own search bar for google image search-->
	

<!-- form to make card -->
	<div class="makeCard col-md-4">
		<div ng-repeat="err in creationErrors">
			{{err}}
		</div>
		<select ng-model="CC.newCard.target_language">
			<option ng-repeat="lang in CC.user.languages track by $index" value={{lang}}>
				{{lang.name}}
			</option>
		</select>
		<p>Word: <input type="text" ng-model="CC.googResponse"></p>
		<p>Image: <input type="url" ng-model="CC.theImage"></p>
		<p>Translation 1: <input type="text" ng-model="CC.newCard.translations[0]"></p>
		<p>Translation 2 (optional): <input type="text" ng-model="CC.newCard.translations[1]"> </p>
		<p>Translation 3 (optional): <input type="text" ng-model="CC.newCard.translations[2]"></p>
		<p>Part of Speech:
		<select ng-model='CC.newCard.part_of_speech'
		ng-options="i as i for i in CC.pos">
		</select>
		<p>Example 1: <input type="text" ng-model="CC.newCard.contexts[0]"></p>
		<p>Example 2: <input type="text" ng-model="CC.newCard.contexts[1]"></p>
		<p>Example 3: <input type="text" ng-model="CC.newCard.contexts[2]"></p>
		<input class="btn btn-primary btn-lg" type="submit" ng-click="CC.create_long()" value="Create">
	</div> <!-- makecard -->
	<h3>Translate word from English:</h3>
	Translate to:
	<select ng-model="CC.newCard.target_language">
		<option ng-repeat="lang in CC.user.languages track by $index" value={{lang}}>
			{{lang.name}}
		</option>
	</select><br>
	<div class="GoogleTranslate col-md-5">
		<p>(thanks, google translate!)</p>
		<input type="text" ng-model="CC.translateStr">
		{{CC.error}}
		<input type="submit" class="btn btn-success btn-sm" ng-click="CC.translate()" value="Translate">
		<div class="resultOfTranslation bigNBold" ng-bind="CC.googResponse">
			{{CC.googResponse}}
		</div>
	<!-- googletranslate -->
	<!-- PixaBay Image Search -->
	<input type="text" ng-model="CC.googResponse">
	<input type="submit" class="btn btn-sm btn-warning" value="Search Image" ng-click="CC.imgSearch()">
	</div>
	<div ng-repeat = "result in CC.SearchResults |limitTo: 6">
		<div>{{result}}</div>
	</div>
	<!-- PixaBay imagesearch results -->
	<h3 class="col-md-5">PixaBay Search results:</h3>
	<div class="showbox">
		<div class="img-display" ng-repeat="result in CC.searchResults track by $index" ng-model="that.theClicked" ng-click="CC.addImage($index)"><img class="img-small" src="{{result}}"></div>
	</div> 
</div> <!-- container -->
