<div class="navbar-fixed" ng-controller="usersController as UC">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#/cards/index" class="breadcrumb">View Cards</a>
                    <a href="#/cards/new" class="breadcrumb">New Card</a>
                    <a href="#/home" class="breadcrumb">Dashboard</a>
                    <a href="#/" class="breadcrumb" ng-click=UC.logout()>Log Out</a>
                </div>
            </div>
        </nav>
    </div>
<div class="container">    
    <div ng-controller="usersController as UC">
        <h1>Settings</h1>
        <div class="UserSettings">
            <h4 class="langSide">Your languages </h4>
            <div class="langSide" ng-repeat="language in UC.user.languages">
                <h3 class="bolding">{{language.name}}</h3>
            </div>
            <h4>Add a language you would like to learn:</h4>
            <select ng-model="UC.newLanguage">
                <option ng-repeat = "lang in UC.languages" value={{lang}}>{{lang.name}}
                </option>
            </select>
            <input type="submit" value="Add Language" ng-click="UC.addLanguage()">
            <h4>Set your native language: </h4>
            <select ng-model="UC.userLanguage">
                <option ng-repeat = "lang in UC.languages" value={{lang}}>{{lang.name}}</option>
            </select>
            <input type="submit" value="Set Language" ng-click="UC.setLanguage()">
        </div>
    <div>
        <h4>Your decks</h4>
        <ul ng-repeat="deck in UC.user.decks">
            <li>{{deck.name}}</li>
        </ul>
    </div>
    <!-- <p>Temporary information for debugging:</p>
    {{UC}} -->
</div>
