<div class="settingsPage">
<div class="navbar-fixed" ng-controller="usersController as UC">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#/cards/index" class="breadcrumb">My Cards</a>
                    <a href="#/cards/new" class="breadcrumb">New Card</a>
                    <a href="#/home" class="breadcrumb">Dashboard</a>
                    <a href="#/" class="breadcrumb" ng-click=UC.logout()>Log Out</a>
                </div>
            </div>
        </nav>
    </div>
<div class="container" ng-controller="usersController as UC">

    <h1>Settings</h1>
    <div class="UserSettings">
        <h4>Your languages </h4>
        <div ng-repeat="language in UC.user.languages">
            <h5>{{language.name}}</h5>
        </div>
        <h6>Add a language you would like to learn:</h6>
        <select ng-model="UC.newLanguage">
            <option ng-repeat = "lang in UC.languages" value={{lang}}>{{lang.name}}
            </option>
        </select>
        <input type="submit" value="Add Language" ng-click="UC.addLanguage()">
        <h6>Set your native language: </h6>
        <select ng-model="UC.userLanguage">
            <option ng-repeat = "lang in UC.languages" value={{lang}}>{{lang.name}}</option>
        </select>
        <input type="submit" value="Set Language" ng-click="UC.setLanguage()">
    </div>
    <div>
        <h4>Your decks</h4>
        <ul ng-repeat="deck in UC.user.decks">
            <li><a href="#/deck/{{deck._id}}">{{deck.name}}</a></li>
        </ul>
    </div>
    <!-- <p>Temporary information for debugging:</p>
    {{UC}} -->
</div>
</div>
