<div class="navbar-fixed" ng-controller="usersController as UC">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#/home" class="breadcrumb">Dashboard</a>
                    <a href="#/cards/new" class="breadcrumb">New Card</a>
                    <a href="#/user/settings" class="breadcrumb">Settings</a>
                    <a href="#/" class="breadcrumb" ng-click=UC.logout()>Log Out</a>
                </div>
            </div>
        </nav>
    </div>
<div class="container" ng-controller="cardsController as CC">
    <h4>View all cards in your languages</h4>
    {{card}}
    <h5>Filter by language:
        <select ng-model="filter_name">
            <option ng-repeat="lang in CC.user.languages track by $index" value={{lang.name}}>{{lang.name}}</option>
        </select>
    </h5>
    <input type="text" placeholder="Search" ng-model="query">
    <div class="showCards big" ng-repeat="card in CC.cards |toArray |filter:filter_name |filter:query track by card._id">
        <div class="cardFront">
            <h5>{{card.target_language}}</h5>
            <img class="img-small" src="{{card.image_url}}" alt="{{card.image_url}}" />
            <h5>{{card.target_word}}</h5>
            <h5>{{card.translations[0]}}</h5>
            <h5>{{card._creator.name}}</h5>
            <h5>Choose the deck:</h5>
            <select ng-model="card.theDeck">
            <option value=""></option>
            {{CC.deck}}
            <option ng-repeat="deck in CC.user.decks track by $index" value={{deck._id}}>{{deck.name}}</option>
            </select>
            <input type="submit" ng-click="CC.addToDeck(card._id, card.theDeck)" value="Add To Deck">
        </div>
    </div>
    <div>
        <h4>Cards in your deck</h4>
        <h5>Choose your deck: </h5>
        <select ng-model="CC.theDeck" ng-change="CC.indexDeck(CC.theDeck)">
            <option value=""></option>
            {{CC.deck}}
            <option ng-repeat="deck in CC.user.decks track by $index" value={{deck._id}}>{{deck.name}}</option>
        </select>
        <div class="showCards" ng-repeat="card in CC.deck.cards">
            <div class="cardFront">
            <h5>{{card.target_language}}</h5>
            <br><br>
            <h5>{{card.target_word}}</h5>
            <h5>{{card.translations[0]}}</h5>
            <h5>{{card._creator.name}}</h5>
        </div>
    </div>
</div>
