<div class="showcardsPage">
<!-- MENU MENU -->
<div class="navbar-fixed" ng-controller="usersController as UC">
  <nav>
      <div class="nav-wrapper">
          <div class="col s12">
              <a href="#/cards/new" class="breadcrumb">New Card</a>
              <a href="#/home" class="breadcrumb">Dashboard</a>
              <a href="#/user/settings" class="breadcrumb">Settings</a>
              <a href="#/" class="breadcrumb" ng-click=UC.logout()>Log Out</a>
          </div>
      </div>
  </nav>
</div>
<!-- MAIN BODY -->
<!-- ALL CARDS VIEWER -->
<div class="container" ng-controller="cardsController as CC">
	<h4>View all cards in your languages</h4>

	<h5>Filter by language:
	  <select ng-model="filter_name">
	      <option ng-repeat="lang in CC.user.languages track by $index" value={{lang.name}}>{{lang.name}}</option>
	  </select>
	</h5>

	<input type="text" placeholder="Search" ng-model="query">
	<br><br>
	<div class="showCards big" ng-repeat="card in CC.cards | toArray | filter:filter_name | filter:query">
	  <div class="cardFront">
        <a href="#/edit/{{card._id}}" class="glyphicon glyphicon-cog"></a>
	      <h5>{{card.target_language}}</h5>
	      <img class="img-small" src="{{card.image_url}}" alt="{{card.image_url}}" />
	      <h5>{{card.target_word}}</h5>
	      <h5>{{card.translations[0]}}</h5>
	      <!-- <h5>{{card._creator.name}}</h5> -->
	      <h5>Choose the deck:</h5>
	      <select ng-model="card.theDeck">
	          <option value=""></option>
	          {{CC.deck}}
	          <option ng-repeat="deck in CC.user.decks track by $index" value={{deck._id}}>{{deck.name}}</option>
	      </select>
	      <p class="error" ng-show="CC.playError">{{CC.playError}}</p>
	      <div class="soundIcon" ng-click="CC.playSound(card)">
	           <audio ng-model="CC.audioEl"autoplay="autoplay">
	               <source ng-src="CC.soundUrlOgg |trustedAudioUrl:audio)" type="audio/ogg">
	               <source ng-src="CC.soundUrlMp3 |trustedAudioUrl:audio)" type="audio/mpeg">If you can read this, your browser doesn't support audio element.
	           </audio>
	      </div>
	      <input type="submit" ng-click="CC.addToDeck(card, card.theDeck)" value="Add To Deck">
		</div> <!--card front-->
  </div><!-- showcards big -->

<!-- DECK VIEWER -->
<div class="bottomThings col-md-12">

	<div class="newDeckAdder col-md-4">
		<h4>Add a new deck:</h4>
		<p>Deck name: <input type="text" ng-model="CC.newDeck.name"></p>
		<label for="languagePicker">Language:</label>
		<select id="languagePicker" ng-model="CC.newDeck.target_language">
			<option ng-repeat="lang in CC.user.languages track by $index" value={{lang.name}}>{{lang.name}}</option>
		</select>
		<input class="btn btn-warning btn-sm" type="submit" ng-click="CC.createDeck()" value="Add Deck">
		<h4>Your decks:</h4>
		<div ng-repeat="deck in CC.user.decks">
			<p><a href="#/deck/{{deck._id}}">{{deck.name}}</a></p>
		</div><!-- deck in decks -->
	</div> <!--deck adder-->

	<div class="deckViewer col-md-8">
	    <h4>Cards in this deck:</h4>
	        <h5>Choose your deck: </h5>
	        <select ng-model="CC.theDeck" ng-change="CC.indexDeck(CC.theDeck)">
	            <option value=""></option>
	            <option ng-repeat="deck in CC.user.decks track by $index" value={{deck._id}}>{{deck.name}}</option>
	        </select><br>
	</div><!--  deck viewer -->

	<div class="showCards" ng-repeat="card in CC.deck.cards">
		<div class="cardFront">
			<h5>{{card.target_language}}</h5>
			<img class="img-small" src="{{card.image_url}}" alt="{{card.image_url}}" />
			<h5>{{card.target_word}}</h5>
			<h5>{{card.translations[0]}}</h5>
			<h5>{{card._creator.name}}</h5>
		</div><!-- deckFront -->
	</div><!-- showCards -->


</div><!-- bottomthings -->
</div><!-- for whole page -->
