/*body{
background-image: url("/app/assets/img/babel.jpg");
  width: 90%;
  margin: 0 auto;
}
*/

*{
  margin: 0px;
  padding: 0px;
}


.showbox{
  display: inline-block;
  width: 550px;
  min-height: 400px;
  border: 1px solid silver;
}

.img-small{
  max-width: 150px;
  max-height: 100px;
  height: 100px;
  width: auto;
  display: inline-block;
}

.img-display{
  display: inline-block;
  margin: 5px;
}

.loginPage{
  background-color: #4db8ff;
  width: 100%;
  margin: 0 auto;
  min-height: 800px;
}
  .subdiv{
    background-color: #4db8ff;
    text-align: center;
    color:#ffcc00;
    margin: 35px 0px 35px 0px;
  }
    .subdiv h1{
      font-weight: bold;
    }

  .login{
    background-color: #4db8ff;
    padding: 20px;
    width: 300px;
    margin-right: 20px;
    display: inline-block;
  }
  .image{
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
    border: 1px solid #660066;
  }

.dashboardPage{
  background-color: #4db8ff;
  min-height: 800px;
}

.newcardPage{
  background-color: #4db8ff;
  min-height: 800px;
}

.showcardsPage{
  background-color: #4db8ff;
  min-height: 800px;
}

.settingsPage{
  background-color: #4db8ff;
  min-height: 800px;
}


.cardFront{
	display: inline-block;
	margin: 5px;
	height: 200px;
	width: 200px;
	background-color: white;
	color: black;
	text-align: center;
	overflow-y: scroll;
}
.showCards{
	display: inline-block;
	color: black;
  vertical-align: top;
}
.gsc-control-cse{
	margin: 15px;
	border-radius: 10px;
}
.gsc-tabheader, .gsc-tabsarea, .gsc-refinementsarea{
	display: none;
	visibility: hidden;
}
.img-small{
	max-width: 150px;
	max-height: 100px;

}
.makeCard{
	text-align: right;
	width: 20%;
}
.bigNbold{
	font-size: 3em;
	font-weight: bolder;
}
.glyphicon{
	font-size: 3em;
	color: blue;
}
.viewer-main{
	padding: 30px;
	/*display: block;*/
	margin: 0 auto;
	width: 90%;
	min-height: 400px;
}
.go-left{
	display: inline;
	margin-top: 180px;
	/*width: 20%;*/
	/*height: 80%;*/
}
.go-right{
	display: inline;
	margin-top: 180px;
	/*margin: 40px;*/
	/*width: 20%;*/
	/*height: 80%;*/
}


.main-deck{
	width: 550px;
	text-align: center;
	/*position: absolute;*/
	min-height: 400px;
	max-height: 800px;
	background-color: white;
	border: 3px  ridge black;
	padding: 30px;
}
	/*.main-deck img{
		margin-top: 50px;
	}*/

.soundIcon{
	margin-top: 15px;
  background-image: url('/app/assets/img/speaker_5-512.png');
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}


.centered{

	margin: 0 auto;
	display: block;
}







/*for google custom search*/
.gsc-control-cse {
  font-family: Arial, sans-serif;
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}
.gsc-control-cse .gsc-table-result {
  font-family: Arial, sans-serif;
}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
  border-color: #D9D9D9;
}
input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
  border-color: #666666;
  background-color: #CECECE;
  background-image: none;
  filter: none;
}
.gsc-tabHeader.gsc-tabhInactive {
  border-color: #FF9900;
  background-color: #FFFFFF;
}
.gsc-tabHeader.gsc-tabhActive {
  border-color: #E9E9E9;
  background-color: #E9E9E9;
  border-bottom-color: #FF9900
}
.gsc-tabsArea {
  border-color: #FF9900;
}
.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}
.gsc-webResult.gsc-result:hover, .gsc-imageResult:hover {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}
.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b  {
  color: #0000CC;
}
.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
  color: #0000CC;
}
.gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
  color: #0000CC;
}
.gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b {
  color: #0000CC;
}
.gsc-cursor-page {
  color: #0000CC;
}
a.gsc-trailing-more-results:link {
  color: #0000CC;
}
.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
  color: #000000;
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
  color: #008000;
}
.gs-webResult div.gs-visibleUrl-short {
  color: #008000;
}
.gs-webResult div.gs-visibleUrl-short  {
  display: none;
}
.gs-webResult div.gs-visibleUrl-long {
  display: block;
}
.gs-promotion div.gs-visibleUrl-short {
  display: none;
}
.gs-promotion div.gs-visibleUrl-long  {
  display: block;
}
.gsc-cursor-box {
  border-color: #FFFFFF;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
  border-color: #E9E9E9;
  background-color: #FFFFFF;
  color: #0000CC;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  border-color: #FF9900;
  background-color: #FFFFFF;
  color: #0000CC;
}
.gsc-webResult.gsc-result.gsc-promotion {
  border-color: #336699;
  background-color: #FFFFFF;
}
.gsc-completion-title {
  color: #0000CC;
}
.gsc-completion-snippet {
  color: #000000;
}
.gs-promotion a.gs-title:link,.gs-promotion a.gs-title:link *,.gs-promotion .gs-snippet a:link  {
  color: #0000CC;
}
.gs-promotion a.gs-title:visited,.gs-promotion a.gs-title:visited *,.gs-promotion .gs-snippet a:visited {
  color: #0000CC;
}
.gs-promotion a.gs-title:hover,.gs-promotion a.gs-title:hover *,.gs-promotion .gs-snippet a:hover  {
  color: #0000CC;
}
.gs-promotion a.gs-title:active,.gs-promotion a.gs-title:active *,.gs-promotion .gs-snippet a:active {
  color: #0000CC;
}
.gs-promotion .gs-snippet, .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right * {
  color: #000000;
}
.gs-promotion .gs-visibleUrl,.gs-promotion .gs-visibleUrl-short  {
  color: #008000;
}
