
body{
    background-color: #AF5A5E;
}

h1{
    font-weight: bold;
}

.subdiv{
    background-color: #AF5A5E;

}

.login{
    background-color: silver;
    padding: 20px;
    width: 300px;
    margin-top: 20px;

}
