
body{
    background-color: #AF5A5E;
}

h1{
    font-weight: bold;
}

.subdiv{
    background-color: #AF5A5E;

}

.login{
    background-color: silver;
    padding: 20px;
    width: 300px;
    margin-top: 20px;
}
.cardFront{
	display: inline-block;
	margin: 5px;
	height: 200px;
	width: 200px;
	background-color: white;
	color: black;
	text-align: center;
}
.showCards{
	display: inline-block;
	color: black;
}
